// Mixins
@mixin flex-center($direction: row)
  display: flex
  flex-direction: $direction
  justify-content: space-around
  align-items: center

// FooterLayout
.footer
    width: 100%
    min-height: 100px
    color: var(--color-dark)
    background-color: var(--color-neutral)
    border-top: 5px solid var(--color-dark)
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1rem 2rem
    &--dark
        background-color: var(--color-dark)
        border-top: 5px solid var(--color-contrast)
        color: var(--color-contrast)

    &__terms-and-conditions
        max-width: 25em
        margin: 0
        font-family: 'Handjet', serif
        font-weight: bold
        font-size: 1.5rem

    &__button
        margin: 0
        color: var(--color-dark)
        &--dark
            color: var(--color-contrast)

    @media screen and (max-width: 823px)
        padding: 1rem
        
        &__terms-and-conditions
            font-size: 1.2rem