// Variables
$primary-color: #1f1f1f
$secondary-color: #D9D9D9
$shadow-color: #4D4D4D
$card-border: "/public/assets/img/card-border.svg"
$background-texture: "/public/assets/img/background_texture.png"
$why-use-card: "/public/assets/img/why_use-card.svg"

// Mixins
@mixin flex-center($direction: row)
  display: flex
  flex-direction: $direction
  justify-content: space-around
  align-items: center

// FooterLayout
.footer
    width: 100%
    min-height: 100px
    background-color: $secondary-color
    border-top: 5px solid $primary-color
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1rem 2rem

    &__terms-and-conditions
        max-width: 25em
        margin: 0
        font-family: 'Handjet', serif
        font-weight: 400
        font-size: 1.5rem

    &__button
        margin: 0

    @media screen and (max-width: 823px)
        padding: 1rem
        
        &__terms-and-conditions
            font-size: 1.2rem