// Variables
$primary-color: #1f1f1f
$secondary-color: #D9D9D9
$shadow-color: #4D4D4D
$card-border: "/public/assets/img/card-border.svg"
$background-texture: "/public/assets/img/background_texture.png"
$why-use-card: "/public/assets/img/why_use-card.svg"

// Mixins
@mixin flex-center($direction: row)
  display: flex
  flex-direction: $direction
  justify-content: flex-start
  align-items: center

// home
.home
  @include flex-center(column)
  width: 100%
  height: auto
  flex-grow: 1
  overflow: auto