@use '../utilities/variables'

.upload
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: variables.$container-height
  width: variables.$container-width

