.vault-page
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 6rem
    margin-left: 12rem
    margin-right: 12rem
    gap: 6rem
    margin-top: 3rem

    h1
      font-family: 'Jersey 15', serif
      font-size: 3rem

  &__button
    padding: 10px 20px
    font-size: 16px
    cursor: pointer

  &__content
    display: flex
    flex-wrap: wrap
    gap: 10px // Reduce el espacio entre los elementos

  &__item
    flex: 1 1 calc(33.333% - 10px)
    box-sizing: border-box