.item-card
  display: flex
  align-items: center
  background-size: contain
  background-repeat: no-repeat
  padding: 2rem
  width: 100%
  border-radius: 10px
  background-image: url(/assets/img/OutfitCard.svg)

  &__image
    top: 0
    left: 10em
    width: 50%
    height: 100%

  &__details
    flex: 2
    padding-left: 1rem

    h2
      font-family: "Jersey 15"
      font-size: 2rem

    p
      font-family: "Handjet"
      font-size: 1.5rem
      
  &__name
    font-size: 1.5rem
    font-weight: bold

  &__color, &__category, &__style
    margin: 0.5rem 0

  &__buttons
    margin-top: 1rem

  &__button
    margin-right: 0.5rem


