.item-card-mini-container
  position: relative
  width: 612px
  height: 490px

.item-card-mini-background
  position: absolute
  z-index: 0

.item-card-mini
  width: 612px
  height: 490px
  fill: none
  transition: transform 0.3s ease, box-shadow 0.3s ease
  position: relative
  cursor: pointer
  z-index: 1

  &:hover
    transform: scale(1.05)

.item-card-mini__background
  stroke-width: 17
  

.item-card-mini__image-container
  x: 50%
  y: 50%
  width: 525px
  height: 364px
  fill: none
  transform: translate(-262.5px, -182px)

.item-card-mini__image-border
  stroke-width: 12

.item-card-mini__name
  x: 50%
  y: 95%
  text-anchor: middle
  font-family: 'Jersey 15', serif
  font-size: 4rem
  font-weight: bold


