.section__token
  background-image: url("/assets/img/boxformslight.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  filter: drop-shadow(1px 3px 2px #4D4D4D)
  width: 30rem
  height: 20rem
  position: fixed
  top: 7rem
  right: 0
  z-index: 9999
  padding: 1rem


.token__title
  font-size: 2.5rem
  font-family: "Jersey 15",sans-serif
  margin-top: 4rem
  margin-bottom: 0.5rem

.token__subtitle
  font-size: 1.8rem
  font-family: "Handjet",sans-serif
  margin-bottom: 2rem

