.forms
  width: 100%
  display: flex
  justify-content: center
  align-items: center

.forms__section
  width: 55em
  height: 46.6em
  background-image: url("/assets/img/boxformslight.svg")
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  padding: 8em 7em

.section__header
  width: 100%
  display: flex
  justify-content: space-between

.header__title
  font-size: 3em
  text-align: left

.section__form
  display: flex
  justify-content: space-between
  margin-top: 2em

.form__img
  width: 25%

.form__fieldset
  width: 75%
  display: flex
  flex-direction: column
  align-items: flex-end
  border: none

.fieldset__label
  width: 60%
  text-align: left

.fieldset__input
  width: 60%
  margin-bottom: 1em

.form__button
  position: absolute
  margin-top: 20em