// Variables
@use 'src/assets/sass/utilities/variables.sass' as *

$card-border: "/public/assets/img/card-border.svg"
$background-texture: "/public/assets/img/background_texture.png"
$why-use-card: "/public/assets/img/why_use-card.svg"

// Mixins
@mixin flex-center($direction: row)
  display: flex
  flex-direction: $direction
  justify-content: space-around
  align-items: center

// Hero
.hero
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-bottom: 12rem

  h2
    font-family: 'Jersey 25'
    width: 50%
    padding-top: 8rem
    font-size: 4rem
    