// Base Styles
@use "base/reset"
@use "base/typo"
@use 'base/root'
@use 'base/body'

// Utilities
@use "utilities/variables"
@use "utilities/mixins"
@use "utilities/functions"

// Pages
@use "pages/home"
@use 'pages/upload'
@use 'pages/prompt'

// Components
// HeaderLayout Components
@use "components/header/header"
@use "components/forms/section"
@use "components/buttons/button"
@use "components/Card/card"

// FooterLayout
@use "components/footer/footer"

// Home Page Components
@use "components/home/hero/hero"
@use "components/home/why-use/why-use"
@use 'components/home/processes/processes'



html, body, #root, .main-page
  height: 100%
  margin: 0
  display: flex
  flex-direction: column

.main-page
  flex: 1
  display: flex
  flex-direction: column
  min-height: 100vh
  width: 100vw

.content
  flex: 1

header
  min-height: 50px

footer
  min-height: 50px
  margin-top: auto