/* Error: Can't find stylesheet to import.
 *   ,
 * 2 | @use 'src/assets/sass/utilities/variables.sass' as *
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   components\header\_header.sass 2:1  @use
 *   main.sass 21:1                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 2 \2502  @use 'src/assets/sass/utilities/variables.sass' as *\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   components\\header\\_header.sass 2:1  @use\a   main.sass 21:1                      root stylesheet";
}
