@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Jersey+15&display=swap");
:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Albert Sans", sans-serif;
}

body {
  background-color: #F4F6F3;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

ul {
  list-style: none;
}

.Jersey15 {
  font-family: "Jersey15", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.Handjet {
  font-family: "Handjet", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.app-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F5F5F5;
  position: relative;
  z-index: 1;
}
.app-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/assets/img/background_texture.png");
  background-size: cover;
  background-position: center;
  opacity: 0.05;
  z-index: -1;
}

body {
  width: 100%;
  height: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Header */
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #D9D9D9;
  border-bottom: 5px solid #1F1F1F;
}
.header .header__button {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  align-items: center;
  gap: 0.5em;
}
.header .header__button h2 {
  margin: 0;
}

.button__icon {
  height: 2em;
  width: 2em;
}

/* Footer */
.footer {
  width: 100%;
  height: 100px;
  background-color: #D9D9D9;
  border-top: 5px solid #1F1F1F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.terms-and-conditions {
  max-width: 25em;
  margin: 1em;
}

.contact-button {
  display: flex;
  margin: 1em;
  align-items: center;
}

.armario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Processes */
.processes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.process {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 100em;
}

.process-reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 100em;
}

.process__text {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.process__photo {
  width: 15rem;
  height: 15rem;
}

/* WhyUse TODO This import might be an issue */
.whyuse {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.whyuse__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100em;
  width: 100%;
}

.whyuse__card {
  background-image: url("/public/assets/img/why_use-card.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem;
  width: 15rem;
  height: 20rem;
  padding: 3rem;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/*# sourceMappingURL=main.css.map */
