.cap, .superior, .shirt, .pants, .shoes
  position: absolute
  width: auto     // Tamaño fijo para los iconos
  height: 60px
  transform-origin: center
  background: none
  border: none
  cursor: pointer
  transition: transform 0.2s ease
  z-index: 2

  img 
    width: 100%
    height: 100%
    object-fit: contain

  h3
    font-family: 'Handjet'
    font-size: 1.8rem    // Fijo en pixeles si se desea 12px
    position: absolute

  &:hover, &:focus
    transform: scale(1.1)

.cap
  top: 0%
  left: 11%
  height: 80px

  h3
    top: -40px  
    left: -6px

.superior
  top: 15%
  left: -5%
  height: 160px

  h3
    top: 60px
    left: -100px  

.shirt
  top: 19.5%
  right: 45%
  height: 138px

  h3
    top: -30px
    right: -50px
    font-size: 1.5rem

.pants
  top: 48%
  left: 2%
  height: 160px

  h3
    top: 60px
    left: -100px
    font-size: 1.5rem

.shoes
  top: 76%
  right: 48%
  height: 160px

  h3
    top: 60px
    right: -70px
    font-size: 1.5rem