// Breakpoints
$mobile: 480px
$tablet: 768px
$desktop: 1024px
$large-desktop: 1200px

// Variables


// Responsive Mixin
@mixin responsive-button($width, $height, $line-height, $margin-top, $font-size)
  // Mobile (default)
  width: $width * 0.8
  height: $height * 0.8
  font-size: $font-size * 0.5
  margin-top: $margin-top * 0.8
  line-height: $line-height * 0.8
  background-size: contain

  @media (min-width: $tablet)
    font-family: "Jersey 25", sans-serif
    width: $width * 0.9
    height: $height * 0.9
    font-size: $font-size * 0.9
    margin-top: $margin-top * 0.9
    line-height: $line-height * 0.9

  @media (min-width: $desktop)
    font-family: "Jersey 25", sans-serif
    width: $width
    height: $height
    font-size: $font-size
    margin-top: $margin-top
    line-height: $line-height

// Base Button Mixin
@mixin button-styles($width: 10em, $height: 3em, $line-height: 2em, $margin-top: 2rem, $margin-right: 0em, $font-size: 2.2rem, $background-size: auto, $padding-bottom: 0.3em, $padding-right: 0.3em, $padding-bottom-hover: 0em, $padding-right-hover: 0em, $margin-bottom: 0rem)
  display: inline-block
  font-family: "Jersey 25", sans-serif
  background-color: transparent
  background-image: var(--mobile--button-light)
  background-position: center
  background-repeat: no-repeat
  background-size: $background-size
  border: none
  cursor: pointer
  transform: translateZ(0)
  -webkit-transform: translateZ(0)
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  transition: padding 0.2s ease
  margin-right: $margin-right
  margin-bottom: $margin-bottom
  padding-bottom: $padding-bottom
  padding-right: $padding-right
  text-decoration: none
  color: var(--color-dark)
    
  &--dark
    color: white
    background-image: var(--mobile--button-dark)

  @include responsive-button($width, $height, $line-height, $margin-top, $font-size)

  @media (max-width: $mobile),(min-width: $mobile)
    background-image: var(--button-light)
    &--dark
      background-image: var(--button-dark)

  &:hover
    background-image: var(--button-light-hover)
    padding-bottom: $padding-bottom-hover
    padding-right: $padding-right-hover
    box-shadow: none
  
  &--dark:hover
    background-image: var(--button-dark-hover)

// Button Classes
.hero__button
  @include button-styles()

.footer__button
  @include button-styles(7em, 2em, 1em, 0em, 2em, 2rem, contain)

.section__header 
  .header__buttonForm
    @include button-styles(7em, 2em, 1.8em, 0em, 0em, 1.8rem, contain, 1.3em, 0.7em, 2.1em, 0.5em)
    color: inherit

    &:hover 
      padding-bottom: 0
  
.form__button
  @include button-styles(7em, 2em, 0em, 11em, 0em, 2rem, contain)

  @media (min-width: 830px)
    width: 7em
    height: 2em
    font-size: 1.8rem
    margin-top: 11em
    line-height: 0em

  @media (max-width: 468px)
    width: 5.9em

.prompt__button
  @include button-styles(9em, 3em, 1em, 0em, 0em, 2rem, contain)

.item-card__button
  @include button-styles(7em, 2em, 1em, 0em, 0em, 2rem, contain)
  
  @media (min-width: 1600px)
    width: 8em
    height: 2.5em
    font-size: 2.4rem
    line-height: 1.2em
  
  @media (min-width: $desktop)
    width: 7em
    height: 2em
    font-size: 2rem
    line-height: 1em
  
  @media (min-width: $tablet)
    width: 6.5em
    height: 1.9em
    font-size: 1.9rem
  
  @media (min-width: 380px)
    width: 5.5em
    height: 1.8em
    font-size: 1.9rem

.buttons__button
  @include button-styles(7em, 2em, 1em, 1em, 0em, 2rem, contain)

  @media (min-width: 380px)
    font-size: 1.5rem
    height: 2em
    width: 7em

.vault-page__button
  @include button-styles(8em, 2em, 1em, 0em, 0em, 2rem, contain, 0.5em, 0.6em, 0.4em, 0.2em)

.outfit-page__button
  @include button-styles(8em, 2em, 1em, 3em, 0em, 2rem, contain, 0.2em, 0.2em, 0em, 0em, 3rem)

.process__button
  @include button-styles(7em, 2em, 1em, 1em, 0em, 3rem, contain)
  @media (max-width: 1695px)
    @include button-styles(7em, 2em, 1em, 1em, 0em, 2.5rem, contain)
  @media (max-width: 1494px)
    @include button-styles(7em, 2em, 1em, 1em, 0em, 2rem, contain)
  @media (max-width: 1200px)
    @include button-styles(7em, 2em, 1em, 1em, 0em, 1.5rem, contain)
  @media (max-width: 1024px)
    @include button-styles(7em, 2em, 1em, 1em, 0em, 2rem, contain)




.token__button
  @include button-styles(7em, 2em, 1em, 1em, 0em, 2rem, contain, 0.3em, 0.3em, 0.3em, 0.3em)
  
  @media (min-width: 380px)
    font-size: 1.5rem
    height: 2em
    width: 7em
    margin-top: 0.3em
    
.error__button
  @include button-styles(7em, 2em, 1em, 0em, 0em, 2rem, contain)

  @media (max-width: 920px)
      width: 7em
      height: 2em
      font-size: 1.6rem
      line-height: 1em
      
  

  @media (max-width: 768px)
      font-size: 1.8rem

  @media (max-width: 570px)
      font-size: 1.8rem

  @media (max-width: 490px)
    