.darkmode__button
  background: none
  border: none
  position: fixed
  bottom: calc(var(--footer-height, 8rem) + 2rem)
  right: 2rem
  padding: 1rem
  background-image: var(--delete-button-light)
  background-size: contain
  background-repeat: no-repeat
  background-position: center 
  width: 5rem

  &:hover
    background-image: var(--delete-button-hover-light)
    box-shadow: none

  &--dark
    background-image: var(--delete-button-dark)
    &:hover
      background-image: var(--delete-button-hover-dark)

  @media (max-width: 980px)
    width: 4rem
    bottom: calc(var(--footer-height, 6rem) + 1rem)