// Variables
$primary-color: #1f1f1f
$secondary-color: #D9D9D9
$shadow-color: #4D4D4D
$card-border: "/public/assets/img/card-border.svg"
$background-texture: "/public/assets/img/background_texture.png"
$why-use-card: "/public/assets/img/why_use-card.svg"

// Mixins
@mixin flex-center($direction: row)
  display: flex
  flex-direction: $direction
  justify-content: center
  align-items: center

// Body
body
  font-family: 'Roboto', sans-serif
  background-color: #f5f5f5
  color: var(--primary-color)
  margin: 0
  padding: 0
  align-items: center
  justify-content: center
