
// Mixins
@mixin flex-center($direction: row)
  display: flex
  flex-direction: $direction
  justify-content: center
  align-items: center

// Body
.body
  font-family: 'Roboto', sans-serif
  background-color: var(--color-contrast)
  background-image: var(--background-light)
  background-size: cover
  background-repeat: repeat
  background-position: center
  color: var(--primary-color)
  margin: 0
  padding: 0
  align-items: center
  justify-content: center
  &--dark
    background-color: var(--color-dark)
    background-image: var(--background-dark)

