
@font-face 
  font-family: 'Jersey 15'
  src: url(../fonts/Jersey15-Regular.woff2)

@font-face
  font-family: 'Jersey 25'
  src: url(../fonts/Jersey25-Regular.woff2)
 
@font-face 
  font-family: 'Handjet'
  src: url(../fonts/Handjet.woff2)
